:root {
    --nav-height: 70px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: var(--nav-height) 0 0;
    font-family: "Poppins", sans-serif;
    background: #f7f9fb url('../images/bg-dots.png') repeat;
}

header {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--nav-height);
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 50px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 26px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.profile-icon img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin: 0;
}


.title-bar {
    background: #006937;
    color: white;
    padding: 18px 40px;
}

.title-bar h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
}

.filter-row {
    display: flex;
    gap: 12px;
    margin: 25px 60px;
}

.filter-row select {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
}

.filter-row button {
    background: #006937;
    color: white;
    border: none;
    padding: 8px 25px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
}


#cardContainer {
    margin: 20px 60px 60px 60px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
}

.reservation-card {
    display: flex;
    align-items: center;
    gap: 25px;
    background: white;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.06);
    width: 100%;
    min-height: 230px;
}

.card-image {
    width: 230px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.card-info {
    flex: 1;
}

.card-info h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 800;
    color: #006937;
}

.card-info h3 {
    margin: 5px 0 10px 0;
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

.card-info p {
    margin: 6px 0 18px 0;
    font-size: 14px;
    line-height: 1.4;
}

.btn-yellow{
    background: yellow;
    border: none;
    color: black;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.btn-green{
    background: #62a36b;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.back-btn {
    background: #006937;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    display: block;
    margin: 20px auto 0;
    margin-bottom: 100px;
}

.btn-green:hover {
    background: #4e8a57;
}

.btn-red {
    background: #b64343;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}

.btn-red:hover {
    background: #993535;
}

.status-cancelled {
    color: #b30000;
    font-weight: 700;
    font-size: 16px;
}

.status-completed {
    color: #006937;
    font-weight: 700;
    font-size: 16px;
}

#reschedModal, #confirmModal, #cancelModal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999; /* ensure it appears above all other content */
}


.modal-content {
    background: white;
    width: 420px;
    padding: 28px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.75);
    animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.97); }
    to   { opacity: 1; transform: scale(1); }
}

.modal-content h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
    text-align: center;
    color: #006937;
}

#modalReservationDetails p {
    font-size: 14px;
    margin-bottom: 14px;
    line-height: 1.4;
}

.modal-content select {
    width: 100%;
    padding: 11px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 25px;
}

.modal-actions {
    width: 100%;
    display: flex;
    justify-content: center; /* centers the inner container */
    margin-top: 40px;
}

.modal-actions-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;              /* spacing between buttons */
    width: 300px;           /* FIXED WIDTH to prevent spreading */
}

/* color black for secondary buttons */
.modal-btn.secondary {
    background: black;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
}

.modal-btn.primary {
    background: #006937;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
}
.modal-btn:hover {
    opacity: 0.9;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #006937;
}

@media (max-width: 1000px) {
    #cardContainer {
        grid-template-columns: 1fr;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
  --nav-height: 70px;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) { 
  html { zoom: 1.5; } 
}

@media (min-width: 2560px) { 
  html { zoom: 1.7; } 
}

@media (min-width: 3860px) { 
  html { zoom: 2.5; } 
}

/* SCROLLBAR */
::-webkit-scrollbar { width: 1.3rem; }
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover { 
  background: #222224; 
}

::-webkit-scrollbar-track { 
  background: #f9f9f9; 
}

body {
  font-size: 1.6rem;
  background: var(--bg);
   overflow-x: hidden;
  padding-top: var(--nav-height);
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center { 
  text-align: center; 
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

/* SECTION */
#tranding { 
  padding: 4rem 0; 
}

@media (max-width:1440px) { 
  #tranding { 
    padding: 7rem 0; 
  } 
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}
@media (max-width:500px) {
  #tranding .tranding-slider { 
    height: 45rem; 
  }
}

.swiper-slide {
  width: 29rem !important;  
  display: flex;
  justify-content: center;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right { 
  display: none; 
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after { 
  content: ''; 
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

/* CARD DESIGN */
.card {
  width: 29rem; /* 28 */
  background: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
}

.card-img img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.card-body {
  display: relative;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
  padding: 1.6rem 1.8rem;

}

.card-title {
  font-weight: 700;
  margin-bottom: 1rem;
  white-space: normal;     
  overflow: hidden;
  text-overflow: clip;     
  max-width: 100%;
  display: block;
  font-size: clamp(0.1rem, 2.5vw, 1.9rem) !important;
}


.card-desc {
  font-size: 1.35rem;
  color: #444;
  margin-bottom: 1.8rem;
  text-align: justify;
}

.reserve-btn {
  width: 100%;
  padding: 1rem 0;
  background: #222;
  color: white;
  border-radius: 1rem;
  border: none;
  cursor: pointer;  
}

.reserve-btn:hover { 
  background: #444; 
}

.tranding-slider {
  overflow-x: visible;  
}


/* General header/navbar styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    background: white;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Logo */
.logo img {
    height: 45px;
    cursor: pointer;
}

/* Right side container (nav + profile icon) */
.header-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

/* Navigation links */
nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 6px;
    position: relative;
    transition: color 0.2s ease;
}

/* Active link styling */
nav ul li a.active {
    font-weight: 550;
    color: #133020;
}

.profile-icon {
    margin-left: 20px;
}

/* Profile icon styling */
.profile-icon img {
    height: 36px;
    width: 36px;
    cursor: pointer;
}

/* Optional: if you want logout as a button */
nav ul li.logout-button {
    background: black;
    color: white;
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

nav ul li a:hover {
    color: #ff914d;
}

nav ul li.logout-button:hover {
    background-color: #DD5C36;
}

.sub-header {
  background-color: #006937; 
  height: 90px;             
  display: flex;
  flex-direction: column;
  align-items: center;      
  padding: 0 30px;         
  color: white;          
  font-weight: 600;
  text-align: center;
  justify-content: center;
  padding-bottom: 5px;
}

.sub-header h2 {
  color: white;             
  font-size: 2rem;
  margin: 0;                
  font-weight: 800;
  font-style: italic;
}

.sub-header-subtext {
  font-size: 1.1rem;
  margin-top: 10px; 
  font-weight: 300;
}


